.SignUpBg{
 background-position: center;
  background-image: url('./SignUpBgImg.jpg');
}
.textField {
  background-color: #ffffffb8;
  
}
.LoginBg{
  background-position: center;
  background-image: url('./LoginBgImg.jpg');

}
.loginTextField{
  background-color: #ffffffb8;
}